/************** @author: Akis Volanis *****************/

/* Bootstrap */
@import "./bootstrap/custom";

/* Mixins */
@import "./mixins/animation";
@import "./mixins/keyframes";
@import "./mixins/opacity";
@import "./mixins/animate-delay";
@import "./mixins/animate-duration";
@import "./mixins/animate-iteration-count";
@import "./mixins/transition";
@import "./mixins/calc";
@import "./mixins/at2x";
@import "./mixins/aspect-ratio";
@import "./mixins/boost-animation";

@font-face {
  font-family: 'Copperplate';
  src: url('../fonts/Copperplate.ttc');
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Copperplate', monospace,Helvetica,Arial,sans-serif;
  color: white;
  background-color: black;

  > .ember-view {
    height: 100%;
  }
}

html {
    width: 100%;
    height: 100%;
}

audio#bg-loop {
  visibility: hidden;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    /*font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}


/*

Components

*/

.btn.goto-btn-component {
  box-shadow: none;
  cursor: pointer;

  &.active {
    box-shadow: none;
  }
}

button:focus {outline:0 !important;}

.mute-btn {
  outline: 0;
  /*position: fixed;*/
  float: right;
  /*right: 10px;*/
  /*top: 50px;*/
  font-size: 24px;
  background: none;
  color: #fff;
  text-transform: none;
  border: none;
  box-shadow: none;

  z-index: 9999;
  width: 50px;
  height: 50px;

  &.active {
    box-shadow: none;
    outline: 0;
    color: #fff;
    border: none;
  }

  &:hover, &:focus, &:active  {
    box-shadow: none;
    border: none;
    outline: 0;
    color: #fff;
  }
}



.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: none;
    /*text-transform: uppercase;*/
    /*font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: black;
    
    &.no-bg {
      background-color: transparent;
    }

    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: #fff;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: #fff;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(#248abb, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(#248abb, 0.3);
                    &:hover {
                        color: #248abb;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: rgba(0,0,0,0.6);
        }
    }
}

.intro {
  position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    overflow: hidden;
    /*background: linear-gradient(
      rgba(0,0,0, 0.45),
      rgba(0,0,0, 0.45)
    ), url(../img/intro-bg.jpg);*/
    /*background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/


    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 36px;
            height: 110px;
            /*border-bottom: 110px solid #fff;*/
            font-weight: 300;
            color: #fff;
            overflow: hidden;
            /*-webkit-transition: height 1.2s ease-in-out, border-bottom 1.2s ease-in-out, color 2s ease-in-out;
            -moz-transition: height 1.2s ease-in-out, border-bottom 1.2s ease-in-out, color 2s ease-in-out;
            transition: height 1.2s ease-in-out, border-bottom 1.2s ease-in-out, color 2s ease-in-out;*/

            /*@include animate-duration(3s);*/

            /*&.show {
              color: #DFE2E2;
              height: 110px;
              border-bottom: 0px solid #DFE2E2;
            }*/

            span {
              -webkit-animation: none;
              -moz-animation: none;
              -o-animation: none;
              -ms-animation: none;
              animation: none;
            }

            @media(min-width:767px) {
              span {
                -webkit-animation: rainbow 20s infinite alternate;
                -moz-animation: rainbow 20s infinite alternate;
                -o-animation: rainbow 20s infinite alternate;
                -ms-animation: rainbow 20s infinite alternate;
                animation: rainbow 20s infinite alternate;
              }
            }
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 60px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.socials {
  position: absolute;
  left: 0%;
  bottom: 4%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 0 4px;
    font-size: 16px;

    a {
      color: #DFE2E2;
      -webkit-animation: none;
      -moz-animation: none;
      -o-animation: none;
      -ms-animation: none;
      animation: none;

      &:hover, &:focus {
        color: #fff;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
        animation: none;
      }
    }

    @media(min-width:767px) {
      a {
        -webkit-animation: rainbow 20s infinite alternate;
        -moz-animation: rainbow 20s infinite alternate;
        -o-animation: rainbow 20s infinite alternate;
        -ms-animation: rainbow 20s infinite alternate;
        animation: rainbow 20s infinite alternate;
      }
    }
  }

  .fa-stack {
    top: -8px;
  }

  @media(min-width:767px) {
    left: 2%;

    li {
      margin: 0 20px;
      font-size: 18px;
    }
  }
}

.btn-circle {
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    background: transparent;
    outline: none;
    box-shadow: none;
    @include transition(opacity .6s ease);

    &.fadeout {
      opacity: 0;
    }

    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

    .fa {
      -webkit-animation: rainbow 20s infinite alternate;
      -moz-animation: rainbow 20s infinite alternate;
      -o-animation: rainbow 20s infinite alternate;
      -ms-animation: rainbow 20s infinite alternate;
      animation: rainbow 20s infinite alternate;
    }

    &:hover, &:focus {
        color: $primary;
        outline: none;
        box-shadow: none;
        /*background: rgba(white, 0.1);*/
    }
    &.animated {
        @include animate-duration(2s);
        animation-delay: 10s;
    }
    /*&:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }*/
}

/*#about {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 400px;
  z-index: -1;
}*/

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
    font-family: "Helvetica", Arial, Serif;
}

.player-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;*/
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .rest-players {
      margin-top: 30px;
    }
}


@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }

    .releases-section {
        padding: 100px 0;
    }
}


.photos-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    text-transform: uppercase;
    /*font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    font-family: "Helvetica", Arial, Serif;
    padding: 10px 0 ;
    margin-top: 50px;
    p {
        font-size: 10px;
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}


@keyframes rainbow {
  0% {color: #3BB3D1;}
  50% {color: #D4B2B8;}
  100% {color: #7CAABA;}
}

@-webkit-keyframes rainbow {
  0% {color: #3BB3D1;}
  50% {color: #D4B2B8;}
  100% {color: #7CAABA;}
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


